<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net47" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net47" />
  <package id="Gherkin" version="6.0.0" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.13.0" targetFramework="net47" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net47" />
  <package id="IKVM.AWT.WinForms" version="7.2.4630.5" targetFramework="net47" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net47" />
  <package id="IKVM.OpenJDK.Media" version="7.2.4630.5" targetFramework="net47" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net47" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net47" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net47" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Microsoft.CodeCoverage" version="16.7.0" targetFramework="net47" />
  <package id="Microsoft.NET.Test.Sdk" version="16.7.0" targetFramework="net47" />
  <package id="MimeTypesMap" version="1.0.8" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net47" />
  <package id="NUnit" version="3.12.0" targetFramework="net47" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net47" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net47" developmentDependency="true" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net47" />
  <package id="pdfboxNet" version="1.8.9.0" targetFramework="net47" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net47" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.4" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net47" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net47" />
</packages>